@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

* { margin: 0; padding: 0; box-sizing: border-box; }

.attribution {position: fixed; inset: auto auto 10px 10px; font-size: 11px; text-align: center; padding: 3px;color: var(--attrb-color);}
.attribution a { color: var(--attrb-color);}

:root {
  --attrb-color: hsla(0, 50%, 100%, .8);

/* primary colors */
  --orange: hsl(25, 97%, 53%);
  
/* neutral colors */
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);

  /* font */
  --font-overpass: 'Overpass', sans-serif;;
  --font-size: 15px;
}

body {
  background-color: var(--very-dark-blue);
  display: grid;
  min-height: 100dvh;
  place-items: center;
}

body::before {
 background-image: url(design/desktop-design.jpg);
 background-position: center;
 background-repeat: no-repeat;
 content: '';
 display: none;
 height: 100dvh;
 opacity: .3;
 position: absolute;
 width: 100%;
 z-index: 1;
}

fieldset {
  border: none;
}

.rate-state, .thank-you-state {
  background-image: linear-gradient(to bottom, var(--dark-blue) -50%, var(--very-dark-blue) 150%);
  border-radius: 30px;
  color: var(--white);
  display: grid;
  font-family: var(--font-overpass);
  margin-top: 5px;
  max-width: 97dvw;
  min-height: 415px;
  padding: 30px;
  width: 410px;  
}

.rate-state {
  grid-template-rows: 1.8fr 3fr 3fr;
}

.thank-you-state {
  grid-template-rows: 3fr 1fr 3fr;
  place-items: center;
}

.thank-you-state h1 {
  color: var(--white);
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.thank-you-state div:nth-last-of-type(2) {
  background-color: var(--dark-blue);
  border-radius: 20px;
  color: var(--orange);
  font-size: var(--font-size);
  padding: 5px 20px;
}

.icon-star-container, .fb-value label {
  background-color: var(--dark-blue);
  border-radius: 50%;
  color: var(--medium-grey);
  display: grid;
  height: 50px;
  place-items: center;
  width: 50px;
}

.rate-state h1 {
  font-size: 1.8rem;
  font-weight: 400;
}

.rate-state p, .thank-you-state p {
  color: var(--light-grey);
  font-size: var(--font-size);
  line-height: 1.5rem;
}

.rate-state p {
  padding: 10px 0;
}

.thank-you-state p {
  padding: 0 5px;
}

#rateForm {
  display: grid;
  place-items: center;
}

#rateForm button {
  place-self: end;
}

.fb-value {
  display: flex;
  flex-wrap: wrap;
  gap:15px;
  justify-content: center;
  list-style: none;
  width: 100%;
}

input[type="radio"] {
  display: none;
}

.fb-value label {
  color: var(--medium-grey);
  font-weight: 700;
  height: 50px;
  width: 50px;
}

button[type="submit"] {
  background-color: var(--orange);
  border: none;
  border-radius: 22.5px;
  color: var(--white);
  font-weight: 700;
  height: 45px;
  letter-spacing: .2rem;
  text-transform: uppercase;
  width: 100%;  
}

/* active states */
.fb-value label:hover {
  background-color: var(--medium-grey);
  cursor: pointer;
  color: var(--white);
}

button[type="submit"]:hover {
  background-color: var(--white);
  color: var(--orange);
  cursor: pointer;
}

/* rating points */
.fb-value label:has(input[type="radio"]:checked) {
  background-color: var(--orange);
  color: var(--white);
}

.thank-you-state * {
  text-align: center;
}

.svg-container {
  display: grid;
  position: relative;
}

.svg-illustration, .svg-line {
  max-height: 90%;
  max-width: 90%;
}

.svg-illustration {
  z-index: 10;
}

.svg-line {
  position: absolute;
  z-index: 9;
}

@keyframes dashOffset {
  0% {stroke-dashoffset: 0%;}
  100% {stroke-dashoffset: 100%;}
}

@media screen and (max-height: 550px), screen and (max-width: 435px) {

  .rate-state, .thank-you-state {
    max-width: 97dvw;
    width: 330px;
  }

  .rate-state {
    grid-template-rows: 60px max-content max-content max-content;
  }

  .icon-star-container, label[name="rating"] {
    height: 40px;
    width: 40px;
  }

  .fb-value {
    padding-bottom: 20px;
    gap:5px;
  }

  .message-container {
    align-self: center;
  }

  button[type="submit"] {
    height: 40px;
  }

  .attribution {inset: 10px 0 auto 0; backdrop-filter: blur(3px)}
}