@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

* { margin: 0; padding: 0; box-sizing: border-box; }

.attribution {position: fixed; inset: 5px 0 auto 0; font-size: 11px; text-align: center; color: white;}
.attribution a { color: hsla(0, 0%, 100%, .6);}

@media screen and (min-width: 520px) {

  .attribution {inset: auto auto 10px 10px; color: black;}
  .attribution a { color: hsl(228, 45%, 44%)}

  
  main {
    align-items: center;
  }

  .card {
    display: flex;
    border-radius: 30px;
    width: 600px;
    box-shadow: 0 0 50px hsla(var(--gradient-12), .5);
    border-radius: 30px;
  }

  .result-container {
    border-radius: 30px!important;
  }

}

@media screen and (max-width: 260px) {

  .categories, .categories > div:first-of-type {
    display: flex;
    flex-direction: column;
  }

  .summary-container {
    text-align: center;
    padding: 10px!important;
  }

}

:root {

  --primary-1: 0, 100%, 67%;
  --primary-2: 39, 100%, 56%;
  --primary-3: 166, 100%, 37%;
  --primary-4: 234, 85%, 45%;
  --opacity-1: 1;
  --opacity-2: 0.07;

  --gradient-11: 252, 100%, 67%;
  --gradient-12: 241, 81%, 54%;
  --gradient-21: 256, 72%, 46%, 1;
  --gradient-22: 241, 72%, 46%, 0;
  
  --neutral-1: hsl(0, 0%, 100%);
  --neutral-2: hsl(221, 100%, 96%);
  --neutral-3: hsl(241, 100%, 89%);
  --neutral-4: hsl(224, 30%, 27%);

  --hakengrotesk-font: 'Hanken Grotesk', sans-serif;

  --paragraph-font-size: 18px;
}

main {
  display: flex;
  justify-content: center;
  height: 100dvh;
  background-color: var(--pri-color-2);
  font-family: var(--hakengrotesk-font);
}

.card {
  height: fit-content;
  overflow: hidden;
}

.summary-container {
  padding: 10px 30px;
}

.result-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 30px 40px;
  
  color: var(--neutral-3);
  align-items: center;
  text-align: center;
  
  background-image: linear-gradient(to bottom, hsl(var(--gradient-11)), hsl(var(--gradient-12)));
  border-radius: 0 0 30px 30px;
}

.result-container :nth-child(2) {
  height: 135px;
  aspect-ratio: 1;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  border-radius: 50%;
  background-image: linear-gradient(to bottom, hsla(var(--gradient-21)), hsla(var(--gradient-22)));
}

.card h1 {
  font-size: 1.1rem;
  font-weight: 500;
}

.final-result, h2 {
  color: var(--neutral-1);
}

.summary-container h3, .continue-btt {
  margin: 15px 0;
}

.final-result {
  flex-direction: column;
  font-size: 3rem;
  font-weight: 800;
}

.summary-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;
}

.categories {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: bisque;
  padding: 15px;
  border-radius: 10px;
}

.categories > div:first-child {
  display: flex;
  gap: 10px;
}

.summary-container > div:nth-of-type(1) {
  color: hsl(var(--primary-1));
  background-color: hsla(var(--primary-1), var(--opacity-2));
}

.summary-container > div:nth-of-type(2) {
  color: hsl(var(--primary-2));
  background-color: hsla(var(--primary-2), var(--opacity-2));
}

.summary-container > div:nth-of-type(3) {
  color: hsl(var(--primary-3));
  background-color: hsla(var(--primary-3), var(--opacity-2));
}

.summary-container > div:nth-of-type(4) {
  color: hsl(var(--primary-4));
  background-color: hsla(var(--primary-4), var(--opacity-2));
}

.categories > :nth-child(2) {
  font-weight: 700;
  color: var(--neutral-4);
}

.categories > :nth-child(2) > :nth-child(2) {
  opacity: 0.5;
}

.continue-btt {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;

  border-radius: 25px;
  background-color: var(--neutral-4);
  color: var(--neutral-1);
}

.continue-btt:hover {
  cursor: pointer;
  background-image: linear-gradient(to bottom, hsl(var(--gradient-11)), hsl(var(--gradient-12)));
}