@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* { margin: 0; padding: 0; box-sizing: border-box; }

.attribution {position: fixed; inset: auto auto 10px 10px; font-size: 11px; text-align: center; padding: 3px;color: var(--attrb-color);}
.attribution a { color: var(--attrb-color);}

:root {
  --attrb-color: hsl(180, 100%, 25%);

/* primary colors */
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);

/* neutral colors */
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);

  --font-big-shoulders: 'Big Shoulders Display', cursive;
  --font-lexend: 'Lexend Deca', sans-serif;
  --font-size: 15px;
}

body {
  min-height: 100dvh;
  display: grid;
  place-items: center;
  background-color: var(--very-light-gray);
}

body::before {
  content: '';
  width: 100%;
  height: 100dvh;
  position: absolute;

  background-image: url(design/desktop-design.jpg);
  background-position: center;
  background-repeat: no-repeat;

  opacity: .5;
  z-index: 1;

  display: none;
}

.card-container {
  width: 920px;
  max-width: 97dvw;
  min-height: 500px;

  display: grid;
  grid-template-columns: repeat(3,1fr);

  margin-top: 40px;
  border-radius: 10px;
  
  overflow: hidden;
}

.card {
  display: grid;
  grid-template-rows: 1fr 1fr 4fr 1fr;

  gap: 25px;
  padding: 48px;
}

.card:nth-child(1) {
  background-color: var(--bright-orange);
}

.card:nth-child(2) {
  background-color: var(--dark-cyan);
}

.card:nth-child(3) {
  background-color: var(--very-dark-cyan);
}

.card h2 {
  align-self: flex-end;

  color: var(--very-light-gray);
  font-family: var(--font-big-shoulders);
  font-size: 2.5rem;
  line-height: 1em;
  text-transform: uppercase;
}

.card p {
  margin-top: 5px;

  color: var(--transparent-white);
  font-family: var(--font-lexend);
  font-size: var(--font-size);
  line-height: 1.67em;
}

.card a {
  background-color: var(--very-light-gray);
  width: 145px;
  display: grid;
  place-items: center;

  font-family: var(--font-lexend);
  font-size: .97rem;
  text-align: center;
  text-decoration: none;

  padding: 0 29px;
  border-radius: 25px;
  outline: 2px solid var(--very-light-gray);
  outline-offset: -1px;
}

.card:nth-child(1) a {
  color: var(--bright-orange);
}

.card:nth-child(2) a {
  color: var(--dark-cyan);
}

.card:nth-child(3) a {
  color: var(--very-dark-cyan);
}

/* active states */

.card a:hover {
  background-color: transparent;
  color: var(--very-light-gray);
}


@media screen and (max-height: 620px), screen and (max-width: 745px) {
  .attribution {inset: 10px 0 auto 0; backdrop-filter: blur(3px)}

  .card-container {
    width: 330px;
    max-width: 85dvw;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
    margin-bottom: 40px;
  }

}