@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* { margin: 0; padding: 0; box-sizing: border-box; }

.attribution {position: fixed; inset: 5px 0 auto 0; font-size: 11px; text-align: center; color: white;}
.attribution a { color: var(--grayish-blue);}

@media screen and (min-width: 601px) {
  .attribution {inset: auto auto 10px 10px}

  body [svg1] {
    left: 45%;
  }

  body [svg2] {
    right: 45%;
  }
}

@media screen and (max-width: 250px) {
  .account-interation-details {
    flex-direction: column;
    gap: 10px;
  }
  .account-info > *{
    padding: 10px 0;
  }
}

:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  
  --dark-gray: hsl(0, 0%, 59%);

  --card-shadow: hsla(185, 75%, 20%, .20);

  --name-and-stats-font-size: 18px;
  --main-font: 'Kumbh Sans', sans-serif;

  --profile-photo-size: 150px;
  --img-transform: 40%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  background-color: var(--dark-cyan);
  font-family: var(--main-font);
  font-size: var(--name-and-stats-font-size);
  color: var(--very-dark-desaturated-blue);
  overflow: hidden;

  position: relative;
}

[svg-container] {
  position: absolute;
  width: 100%;
}

[svg1], [svg2] {
  position: absolute;
  width: 1200px;
  z-index: -1;
}

[svg1] {
  left: 10%;
}

[svg2] {
  right: 10%;
  bottom: 50%;
  rotate: 180deg;
}

h1 {
  font-size: calc(var(--name-and-stats-font-size) * 1.2)
}

.card {
  position: relative;

  max-width: 330px;
  border-radius: 20px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 0 30px var(--card-shadow);
}

.profile-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: calc(var(--profile-photo-size)/2);
}

.cover-photo {
  height: inherit;
}

.profile-photo {
  height: var(--profile-photo-size);
  position: absolute;
  bottom: 0px;
  transform: translatey(50%);
  border-radius: 50%;
  border: 5px solid white;
}

.profile-info {
  text-align: center;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.profile-info > div:first-of-type :nth-child(2) {
  margin-top: 10px;
}

.profile-info > div:nth-of-type(1) {
  padding: 15px;
}

.profile-info > div:nth-of-type(2) {
  padding: 15px;
}

.profile-info p, .age {
  font-weight: 400;
  color: var(--dark-grayish-blue);
}

.account-interation-details {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.weight-700 {
  font-weight: 700;
}

.account-interation-details div {
  display: flex;
  flex-direction: column;
}

.account-interation-details div :nth-child(2) {
  color: var(--dark-grayish-blue);
  font-size: calc(var(--name-and-stats-font-size) * .7);
  letter-spacing: .1rem;
  margin-top: 5px;
}

hr {
  opacity: .3;
}