@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* { margin: 0; padding: 0; box-sizing: border-box; }

.attribution {position: fixed; inset: 5px 0 auto 0; font-size: 11px; text-align: center; color: var(--attrb-color);}
.attribution a { color: var(--attrb-color);}

@media screen and (min-width: 601px) {
  .attribution {inset: auto auto 10px 10px}
}

:root {
  --attrb-color: white;

/* primary colors */
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);

/* neutral colors */
  --main-bg: hsl(217, 54%, 11%);
  --card-bg: hsl(216, 50%, 16%);
  --line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);

  --font-outfit: 'Outfit', sans-serif;
  --font-size: 18px;
}

body {
  display: grid;
  place-content: center;
  min-height: 100dvh;
  background-color: var(--main-bg);
  font-family: var(--font-outfit);
}

.card {
  background-color: var(--card-bg);
  width: 330px;
  max-width: 80dvw;
  min-height: 580px;
  border-radius: 15px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: var(--font-size);
}

.nft-img-container {
  background-color: var(--cyan);
  border-radius: 7px;
  width: 100%;
  aspect-ratio: 1;
  overflow: hidden;
  display: grid;
  place-content: center;
}

.nft-img-container img {
  width: 100%;
}

.card h1 {
  color: var(--white);
  font-size: calc(var(--font-size) * 1.2);
}

.card p, .countdown, .created-by {
  color: var(--soft-blue);
}

.nft-info {
  display: flex;
  justify-content: space-between;
}

.nft-value {
  color: var(--cyan);
}

hr {
  border-color: var(--line);
}

.created-by {
  display: flex;
  align-items: center;
  gap: 15px;
}

.created-by img {
  width: 35px;
  border-radius: 50%;
  border: 1px solid white;
}

.created-by span {
  color: var(--white);
}